<style>

    .f_info_socials a{
        font-size: 1.5rem;
        margin-right: 10px;
    }
    footer div b{
        font-size: 2rem;
    }
</style>

<footer>
    <div class="footer">

        <div class="f_info_socials">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/shah_shelby_527/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.youtube.com/@ThomasShelby47270"><i class="fa-brands fa-square-youtube"></i></a>
        </div>
        <div><b>Our Airsns</b></div>
        <div class="f_info_links">
            <a href="/privacy">Privacy &nbsp; &nbsp;</a>
            <a href="/terms">Terms  &nbsp; &nbsp;</a>
            <a href="/conditions">Conditions &nbsp; </a>
        </div>
        
    </div>
</footer>